<div class='page-content'>
	<div class='hero-title'>
		<img id='hero-image' src='img/content/home-hero.png' alt='Total Day Maker'/>
	</div>
	<div class='hero-content'>
		<div id='intro-logo' class='logo'>
			<img src='img/content/daves-logo.png' alt='Daves Bread'/>
		</div><!---
	---><div id='intro-play-button' class='play-button'>
			<img src='img/content/home-play-btn.png' alt='Play for Bread'/>
		</div>
	</div>
	<div id='terms-button' class='terms'>
		<a href=''>TERMS AND CONDITIONS</a>
	</div>
</div>
