<div class="loser">
    <div class="modal-content">
        <div class="inner">
	       	<!--<div class="close-button">X</div>-->
	       	<p>SORRY,<br/>THAT DIDN'T<br/>STACK UP</p>
		   	<div id="loser-tryagain-button" class="modal-button">
			   	<span class="button-background"></span>
			   	<div class="button-content">
		       		<h4>TRY AGAIN</h4>
			   		<img src="img/content/level-select-arrow.png" alt="next-arrow"/>
			   	</div>
	       	</div>
	       	<div id="loser-startover-button" class="modal-button">
			   	<span class="button-background"></span>
			   	<div class="button-content">
		       		<h4>CHANGE DIFFICULTY</h4>
			   	</div>
	       	</div>
       	</div>
    </div>
</div>