<div class="winner">
    <div id="particles">
        
    </div>
    <div class="modal-content">
        <div class="inner">
	       	<!--<div class="close-button">X</div>-->
	       	<p id="inner-title">NAILED IT!<br/>THIS DAY JUST GOT<br/>BREADER!</p>
		   	<div id="winner-next-button" class="modal-button">
			   	<span class="button-background"></span>
			   	<div class="button-content">
		       		<h4>BREAD THIS WAY</h4>
			   		<img src="img/content/right_arrow_black.png" alt="next-arrow"/>
			   	</div>
	       	</div>
       	</div>
    </div>
</div>