#gameplay {
	.page-content {
		margin: 0;
		padding: 0;
		position: absolute;
		top: 50%;
		transform: translate(0,-50%);
		width: 100%;
		
		p {
			text-align: center;
		}
		
		.carousel {
			position: relative;
			width: 100%;
			overflow: hidden;
			
			#top {
				min-height: 75px;
			}
			
			#middle {
				min-height: 120px;
			}
			
			#bottom {
				min-height: 60px;
			}
			
			
			ul {
				margin: 0;
				padding: 0;
				position: absolute;
				left: 0;
				li {
					display: inline-block;
					img {
						width: 100%;
					}
				}
			}
			
			.divider {
				background: white;
				position: relative;
				width: 100%;
				display: block;
				height: 8px;
			}
		}
	}
}