#how-to {
	.cta {
		font-size: 1.4em;
		line-height: 1em;
		position: relative;
		margin-top: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.cta-image {
		width: 100%;
		height: auto;
		
		img {
			width: 100%;
			height: auto;
		}
	}
}