#intro {
	.page-content {	
		position: relative;
		top: 50%;
		transform: translate(0,-50%);

		.hero-title {
			width: 100%;
			height: auto;
			z-index: 1;
			
			img {
				width: 100%;
			}
		}
		
		#hero-sando {
			width: 100%;
			height: auto;
			position: absolute;
			right: -50%;
			opacity: 0;
			top: 0;
			z-index: -1;
			
			img {
				width: 100%;
			}
		}
		
		.hero-content {
			padding: 0 17px 0 17px;
			
			.logo, .play-button {
				display: inline-block;
			}
			
			.logo {
				width: calc(42% - 3px);
				margin-right: 3px;
				img {
					width: 100%;
				}
			}
			.play-button {
				width: calc(58% - 3px);
				cursor: pointer;
				margin-left: 3px;
				
				img {
					width: 100%;
				}
			}
		}
	}
	
	.terms {
		text-align: center;
		width: 100%;
		padding: 15px 0 15px;
		
		span {
			color: #A98C00;
			font-size: 16px;
			font-weight: bold;
			text-decoration: none;
			border-bottom: 1.5px solid #A98C00;
			cursor: pointer;
		}
	}
}