#recipe {
	.page-content {	
		position: relative;
		top: 50%;
		transform: translate(0,-50%);
		
		p {
			margin: 20px 20px 0 20px;
		}
	}
	
	#hero-title, #hero-bread {
		width: 100%;
		img {
			width: 100%;
		}
	}
	
	#hero-title {
		position: absolute;
		left: 0;
		top: 0;
	}
}

#instructions {
	.page-content {	
		position: relative;
		top: 50%;
		transform: translate(0,-50%);
		text-align: center;
		
		li:first-child {
			font-size: 2em;
		}
		
		li:last-child {
			font-size: 1em;
			//padding: 0 15px 10px 15px;
			box-sizing: border-box;
		}
		
		span {
			width: 100%;
			font-size: 2.5em;
			display: block;
		}
		
		#inst-top, #inst-middle {
			border-bottom: 10px solid white;
		}
	}
}