footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	opacity: 0;
	
	nav {
		text-align: center;
		padding: 20px 0 20px 0;
		
		div {
			display: inline-block;
		}
		
		.nav-button {
			padding: 5px 20px 5px 20px;
			color: white;
			background: black;
			border: 2px solid white;
			font-weight: bold;
			cursor: pointer;
		}
	}
}