footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	
	nav {
		text-align: center;
		padding: 20px 0 20px 0;
		
		div {
			display: inline-block;
		}
		
		#nav-divider {
			width: 35px;
			height: auto;
			margin: 0 15px 0 15px;
			img {
				width: 100%;
				height: auto;
			}
		}
		
		.nav-button {
			position: relative;
			padding: 10px 20px 5px 20px;
			color: white;
			
			font-weight: bold;
			cursor: pointer;
			
			h4 {
				margin: 0;
				padding: 0;
			}
			
			img, h4 {
				display: inline-block;
				vertical-align: top;
			}
			
			img {
				width: 23px;
			}
		}
		
		#spacer-button {
			opacity: 0;
		}
	}
}