.modal {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9000;
	
}

.modal-content {
	position: relative;
	width: 100%;
	background: white;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	text-align: center;

	.inner {
		padding: 20px;
		box-sizing: border-box;
	}
	
	p {
		margin: 0 0 20px 0;
		padding: 0;
	}
}

.modal-content:before {
	content: "";
	height: 5px;
	background: $yellow;
	width: 100%;
	display: block;
}

.modal-content:after {
	content: "";
	height: 5px;
	background: $yellow;
	width: 100%;
	display: block;
	box-sizing: border-box;
}

.button-background {
	left: 0;
	top: 0;
	content: "";
	background: $yellow;
	transform:skewX(-10deg);
	-ms-transform:skewX(-10deg);
	-webkit-transform:skewX(-10deg);
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid black;
	z-index: 0;
}

.modal-button {
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	padding: 10px 20px 5px 20px;
	color: white;
	cursor: pointer;
	
	.button-content {
		position: relative;
		z-index: 1;
		h4 {
			margin: 0;
			padding: 0;
		}
		
		img, h4 {
			display: inline-block;
			vertical-align: top;
		}
		
		img {
			width: 23px;
		}
	}
}

.winner {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
	p {
		font-size: 3em;
		line-height: 1em;
		margin: 0 0 20px 0;
		padding: 0;
	}
	
	.particle-bg {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}
