.modal {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9000;
	
}

#particles {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}


.button-background {
	left: 0;
	top: 0;
	content: "";
	
	transform:skewX(-10deg);
	-ms-transform:skewX(-10deg);
	-webkit-transform:skewX(-10deg);
	position: absolute;
	width: 100%;
	height: 100%;
	
	z-index: 0;
}

.modal-button {
	box-sizing: border-box;
	position: relative;
	padding: 10px 20px 5px 20px;
	cursor: pointer;
	
	.button-content {
		position: relative;
		z-index: 1;
		h4 {
			margin: 0;
			padding: 0;
		}
		
		img, h4 {
			display: inline-block;
			vertical-align: top;
		}
		
		img {
			width: 23px;
		}
	}
}

#loser-tryagain-button {
	.button-content {
		img {
			width: 15px ;
			margin-left: 5px;
		}
	}
}

.winner, .loser {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
	p {
		font-size: 3em;
		line-height: 1em;
		margin: 0 0 20px 0;
		padding: 0;
	}

}

.modal-content {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	
	.inner {
		padding: 20px;
		box-sizing: border-box;
	}
	
	p {
		margin: 0 0 20px 0;
		padding: 0;
	}
}

.winner {
	.button-background {
		background: $yellow;
		border: 2px solid black;
	}
	
	.modal-button {
		color: black;
		display: inline-block;
	}
	
	.modal-content {
		background: white;
		border-top: 5px solid black;
		border-bottom: 5px solid black;
	}
	
	.modal-content:before {
		content: "";
		height: 5px;
		background: $yellow;
		width: 100%;
		display: block;
	}
	
	.modal-content:after {
		content: "";
		height: 5px;
		background: $yellow;
		width: 100%;
		display: block;
		box-sizing: border-box;
	}
	
	.particle-bg {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}

.loser {
	.button-background {
		background: white;
		border: 2px solid $yellow;
	}
	
	.modal-button {
		color: black;
		display: inline-block;
		margin: 0 5px 0 5px;
	}
	.modal-content {
		background: black;
		color: $yellow;
		border-top: 5px solid $yellow;
		border-bottom: 5px solid $yellow;
	}
}

.rotate-message {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: $yellow;
	z-index: 9999;
	text-align: center;
	
	.message-content {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translate(0,-50%);
	}
	
	h1 {
		font-size: 6em;
		line-height: 1em;
		margin: 0;
		padding: 0;
	}
	p {
		margin: 0 0 15px ;
		padding: 0
	}
	.image-container {
		position: relative;
		display: inline-block;
		.arrow {
			width: 75px;
			position: absolute;
			left: 0;
			top: 10px;
		}
		.phone {
			width: 82px;
			transform: rotate(-90deg); 
			animation: rotatePhone 4s infinite;
			animation-delay: 1s;
		}
		
		@keyframes rotatePhone {
			0% {
				transform: rotate(-90deg);
			}
			25% {
				transform: rotate(-90deg);
			}
			50% {
				transform: rotate(0deg); 
			}
			100% {
				transform: rotate(0deg); 
			}
		}
	}
}

#terms-button {
	cursor: pointer;
}

.terms-conditions {
	visibility: hidden;
	opacity: 0;
	
	.terms-container {
		max-width: 600px;
		margin: 0 auto;
	}
	
	.close-button {
		font-size: 1.5em;
		padding: 15px;
		line-height: .5em;
		background: black;
		display: inline-block;
		color: white;
		border-radius: 50%;
		cursor: pointer;
	}
	span {
		text-align: center;
		display: block;
		width: 100%;
	}
	
	ul {
		margin: 10px 0px 10px 15px;
		padding: auto;
	}
	
	.decimal {
		list-style: decimal;
	}
	
	.circle {
		list-style: disc;
	}
	
	li {
		margin: 5px 0 5px 0;
	}
	position: fixed;
	overflow: scroll;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 11px 15px 11px 15px;
	box-sizing: border-box;
	background: $yellow;
	z-index: 9999;
	
}

#contact-loading {
	.lds-spinner {
		
	  color: official;
	  display: inline-block;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%,-50%);
	  width: 80px;
	  height: 80px;
	}
	.lds-spinner div {
	  transform-origin: 40px 40px;
	  animation: lds-spinner 1.2s linear infinite;
	}
	.lds-spinner div:after {
	  content: " ";
	  display: block;
	  position: absolute;
	  top: 3px;
	  left: 37px;
	  width: 6px;
	  height: 18px;
	  border-radius: 20%;
	  background: #fff;
	}
	.lds-spinner div:nth-child(1) {
	  transform: rotate(0deg);
	  animation-delay: -1.1s;
	}
	.lds-spinner div:nth-child(2) {
	  transform: rotate(30deg);
	  animation-delay: -1s;
	}
	.lds-spinner div:nth-child(3) {
	  transform: rotate(60deg);
	  animation-delay: -0.9s;
	}
	.lds-spinner div:nth-child(4) {
	  transform: rotate(90deg);
	  animation-delay: -0.8s;
	}
	.lds-spinner div:nth-child(5) {
	  transform: rotate(120deg);
	  animation-delay: -0.7s;
	}
	.lds-spinner div:nth-child(6) {
	  transform: rotate(150deg);
	  animation-delay: -0.6s;
	}
	.lds-spinner div:nth-child(7) {
	  transform: rotate(180deg);
	  animation-delay: -0.5s;
	}
	.lds-spinner div:nth-child(8) {
	  transform: rotate(210deg);
	  animation-delay: -0.4s;
	}
	.lds-spinner div:nth-child(9) {
	  transform: rotate(240deg);
	  animation-delay: -0.3s;
	}
	.lds-spinner div:nth-child(10) {
	  transform: rotate(270deg);
	  animation-delay: -0.2s;
	}
	.lds-spinner div:nth-child(11) {
	  transform: rotate(300deg);
	  animation-delay: -0.1s;
	}
	.lds-spinner div:nth-child(12) {
	  transform: rotate(330deg);
	  animation-delay: 0s;
	}
	@keyframes lds-spinner {
	  0% {
	    opacity: 1;
	  }
	  100% {
	    opacity: 0;
	  }
	}

}
