$iphone5: 320px;
$iphone6: 375px;
$iphone6Plus: 414px;

$desktop-min-width: 600px;
$desktop-med-width: 916px;

$ipad-portrait: 768px;
$ipad: 1024px;

$desktop-large-width: 1072px;

$footer-height: 45px;

